/* src/index.css */
.card-img {
    height: 12rem; /* Fixed height for all images */
    width: 100%; /* Full width of the card */
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  @tailwind base;
@tailwind components;
@tailwind utilities;