@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    border: 1px solid rgb(220, 136, 136);
    justify-content: space-between;
    background-color: antiquewhite;
  
}
.container-color{
    background-color: aquamarine;
    font-size: larger;
    padding: 1rem;
}
.scontainer{

margin-right: 1rem;
}